body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  background:  var(--default);
  --default: #054357;
  --default-light: #14627c;
  --default-dark: #023242;
  --right: rgb(228, 104, 59);
  --right-light:rgb(243, 124, 81);
  --right-dark:rgb(207, 85, 40);
  --left: #58B19F;
  /* --left-light:
  --left-dark: */
}

form {
  height: 100%;
}

.form-group {
  position: relative;
}

/* split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
  background-color: var(--left);
}

.right {
  right: 0;
  background-color: var(--right);
}

.title {
  font-size: 44px;
  color: #fff;
  padding-top: 10rem;
  padding-bottom: 1rem;
  text-align: center;  
}

.notthebody {
  font-size: 22px;
  line-height: 3rem; 
  height: 100%;
  color: #fff;
  padding: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  text-align: center;  
}

.welcome {  
  font-size: 50px;
  color: #fff;
  padding-top: 12.5rem;
  text-align: center;
}

.button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  display: inline-block;
  border-radius: .25rem;
  background-color: var(--default-light) ;
  border-color:  var(--default-light) ;
  color: #ffff;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: .25rem;
  padding: 1rem 2rem;
}

.button:active{
  background: var(--default-dark);
  border-color:  var(--default-dark);
}

.button:focus{
  outline: 0;
  background: var(--default-dark);
  border-color:  var(--default-dark);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 1.5rem
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } } 

.fade-in {
  opacity:0;  
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;} 
} 
   
.fade-out {
    -webkit-animation-name: fade-out;
    animation-name: fade-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.hidden {
  visibility: hidden;
}


