body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  background:  #054357;
}

form {
  height: 100%;
}

.form-group {
  position: relative;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #26896f ;
}

/* Control the right side */
.right {
  right: 0;
  background-color:  #fb7423;
}

/* If you want the content centered horizontally and vertically
.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
/* .centered img {
  width: 150px;
  border-radius: 50%;
}  */

.title {
  font-size: 44px;
  color: #fff;
  padding-top: 18rem;
  text-align: center;  
}

.notthebody {
  font-size: 22px;
  line-height: 30px; 
  height: 100%;
  color: #fff;
  padding: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  text-align: center;  
}

.welcome {  
  font-size: 50px;
  color: #fff;
  padding-top: 200px;
  text-align: center;
}

.button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  display: inline-block;
  border-radius: 4px;
  background-color: #14627c ;
  border-color:  #054357 ;
  color: #ffff;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  padding: 1rem 2rem;
}

.button:active{
  background: #023242;
}

.button:focus{
  outline: 0;
  background: #023242;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } } 

.fade-in {
  opacity:0;  
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;} 
} 
   
.fade-out {
    -webkit-animation-name: fade-out;
    animation-name: fade-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

